<div class="login-container">
  <div class="row no-gutters">
    <div class="col-md-3 col-sm-10 mx-auto">
      <div class="card shadow-lg">
        <div class="card-header">
          Please enter your Name and DOB
        </div>
        <div class="card-body">
          <form ngNativeValidate class="form" #form (ngSubmit)="form.checkValidity()? onSubmit() : null">
            <div class="form-group">
              <label>Name :</label>
              <input type="text" class="form-control" placeholder="Eg. Elon Musk" required autocomplete="off" name="name" [(ngModel)]="user.name">
            </div>
            <div class="form-group">
              <label>Date of Birth :</label>
              <div class="input-group">
                <input class="form-control calendar-input" (keypress)="restrictKeypress($event)" required autocomplete="off" placeholder="yyyy-mm-dd" name="user.dob" [(ngModel)]="user.dob"
                  ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar-button" (click)="d.toggle()" type="button"><i
                      class="far fa-calendar-alt"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group mt-5">
              <button class="btn btn-success col-4" type="submit">Submit</button>
              <button class="btn btn-secondary col-4 ml-2" type="button">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom footer text-center">
    <p> Rishabh Sontakke | Assignment given by <b>Xaltius Pte. Ltd.</b></p>
  </div>
</div>